# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PIP Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/